<div class="container">
  <div class="col-sm text-center">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Driver</th>
          <th scope="col">Image</th>
          <th scope="col">Description</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Approve?</th>
        </tr>
      </thead>
      <tbody>
        <% @drivers.each do |driver| %>
          <% driver.certifications.each do |certification| %>
            <% if certification.approved == nil %>
                <tr id="certification_<%= certification.id %>>
                  <td><%= driver.name %></td>
                  <td>  
                    <% if certification.image.attached? %>
                    <%= image_tag(certification.image, height: 200, width:200 ) %>
                    <% end %>
                  </td>
                  <td><%= certification.name %></td>
                  <td><%= certification.updated_at.strftime("%m/%d/%Y") %></td>
                  <td>
                    <%= link_to "Approve", approve_driver_certification_path(driver, certification), :class => "btn btn-primary", :remote => true %>
                    <%= link_to "Reject", reject_driver_certification_path(driver, certification), :class => "btn btn-primary", :remote => true %>
                  </td>
                </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    
    </table>
  </div>
</div>