
<%= stylesheet_link_tag "rider.css" %>
<link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap" rel="stylesheet">
<style>
  * { 
    font-family: 'Oxygen'
  }
  h1 {
    padding: 0;
    margin: 0;
  }
  
</style>

<% content_for :title, "Rider Profile" %>
<div class="container">
  <div class="col-sm text-center">
    <h1 class="display-4">Hello, <%= @rider.name %></h1>
    
    <h2>Current Rides</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Origin</th>
          <th scope="col">Destination</th>
          <th scope="col">Time and Date</th>
          <th scope="col">Accepted?</th>
          <th scope="col">Driver</th>
          <th scope="col">Rating</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @rider.rides.each do |ride| %>
          <% if !ride.rider_completed || !ride.rider_rated %>
            <tr>
              <td><%= ride.origin %></td>
              <td><%= ride.destination %></td>
              <td><%= ride.formatted_date %></td>
              <td><%= ride.accepted %></td>
              <td>
                <% if ride.accepted && !ride.driver.nil? %>
                  <%= ride.driver.name %>
                <% else %>
                  <p>N/A</p>
                <% end %>
              </td>
              <td white-space: nowrap>
                <% if ride.accepted %>
                  <% if ride.rider_completed %>
                    <%= link_to '', rate_as_rider_rider_ride_path(@rider, ride, karma: "positive"), :class => "fa fa-smile-o fa-2x btn btn-outline-success" %>
                    <%= link_to '', rate_as_rider_rider_ride_path(@rider, ride, karma: "negative"), :class => "fa fa-frown-o fa-2x btn btn-outline-danger" %>
                  <% else %>
                    <%= link_to 'Complete', complete_as_rider_rider_ride_path(@rider, ride), :class => "btn btn-primary" %>
                  <% end %>
                <% else %>
                  <p>Ride not accepted</p>
                <% end %>
              </td>
              <td>
                <%= link_to 'Cancel This Ride', [ride.rider, ride],
                method: :delete,
                data: { confirm: 'Are you sure?' },
                :class => "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    
    <h2>Completed Rides</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Origin</th>
          <th scope="col">Destination</th>
          <th scope="col">Time and Date</th>
          <th scope="col">Driver</th>
        </tr>
      </thead>
      <tbody>
        <% @rider.rides.each do |ride| %>
          <% if (ride.rider_completed && ride.rider_rated) %>
            <tr>
              <td><%= ride.origin %></td>
              <td><%= ride.destination %></td>
              <td><%= ride.formatted_date %></td>
              <td>
                <% if ride.accepted && !ride.driver.nil? %>
                  <%= ride.driver.name %>
                <% else %>
                  <p>N/A</p>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    
    <h2>Request a ride</h2>
    <%= form_with(model: [ @rider, @rider.rides.build ], local: true) do |form| %>
      <% if flash[:rides_error] %>
        <ul>
          <% flash[:rides_error].each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>
      <p>
        <%= form.label :origin %><br>
        <%= form.text_field :origin %>
      </p>
      <p>
        <%= form.label :destination %><br>
        <%= form.text_field :destination %>
      </p>
      <p>
        <%= form.label "Time and Date" %> <br>
        <%= form.datetime_select :timeAndDate, start: DateTime.current %> 
      </p>
      <p>
        <%= form.submit 'Create Ride', :class => 'btn btn-primary' %>
      </p>
    <% end %>
    
    <% if @rider.errors.any? %>
      <div>errors</div>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    
    <div>Here's the information we have on file from you:</div>
    
    <table class="table">
      <thead>

      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td>Name</td>
          <td><%= @rider.name %></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>E-mail Address</td>
          <td><%= @rider.email %></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>City</td>
          <td><%= @rider.city %></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>Date of Birth</td>
          <td><%= @rider.dob %></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>Emergency Contact</td>
          <td><%= @rider.emergency_contact %></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>Blind Accessibility</td>
          <td><%= @rider.blind_accessibility %></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>Deaf</td>
          <td><%= @rider.deaf %></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>Service Animal</td>
          <td><%= @rider.service_animal %></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>Wheelchair</td>
          <td><%= @rider.wheelchair %></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>Rating</td>
          <td><%= @rider.karma %>/<%= @rider.num_rides_rated_by_driver %></td>
        </tr>
      </tbody>
    </table>
    <%= link_to 'Update Profile', edit_rider_path(@rider), :class => "btn btn-primary" %>
  </div>
</div>