<% content_for :title, "Create a Driver Account" %>
<div class="container">
  <div class="col-sm">
    <h1 class="display-4">Create an account</h1>
    
    <%= form_with scope: :driver, url: drivers_path, local: true do |form| %>
    
      <%= form.hidden_field :uid, :value => session["current_user_id"] %>
      <%= form.hidden_field :name, :value => session["user_name"] %>
      <%= form.hidden_field :email, :value => session["user_email"] %>
      
      <p>
        <%= form.label "Driver's License No." %><br>
        <%= form.text_field :license %>
      </p>
    
      <p>
        <%= form.label "Date of Birth" %><br>
        <%= form.text_field :dob %>
      </p>
      
      
     <p>
    <%= form.label :city %><br>
    <%= form.select(:city, [
      ["College Station", "College Station"],
      ["Dallas", "Dallas"],
      ["Houston", "Houston"],
      ["Bryan", "Bryan"],
      ["Oklahoma City", "Oklahoma City"]]) %>
  </p>
      
      
      <p>
        <%= form.submit "Create Account", :class => "btn btn-primary" %>
      </p>
    <% end %>  
  </div>
</div>
