<div class="container">
  <div class="col-sm text-center">
    <h1 class="display-4">Hello, <%= @driver.name %></h1>
    <div>Here's the information we have on file from you:</div>
    <%= link_to "Take Up Available Rides", rides_path, :class => "btn btn-primary" %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Name</td>
          <td><%= @driver.name %></td>
        </tr>
        <tr>
          <td>E-mail Address</td>
          <td><%= @driver.email %></td>
        </tr>
        <tr>
          <td>License Number</td>
          <td><%= @driver.license %></td>
        </tr>
        <tr>
          <td>Date of Birth</td>
          <td><%= @driver.dob %></td>
        </tr>   
      </tbody>
    </table>
    
    <h2>Certifications</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Description</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Approval Status</th>
        </tr>
      </thead>
      <tbody>
        <% @driver.certifications.each do |certification| %>
          <tr>
            <td>  
              <% if certification.image.attached? %>
              <%= image_tag(certification.image, height: 200, width:200 ) %>
              <% end %>
            </td>
            <td><%= certification.name %></td>
            <td><%= certification.updated_at.strftime("%m/%d/%Y") %></td>
            <td>
              <% if (certification.approved == nil) %>
                <p>Pending</p>
                
              <% elsif (certification.approved == true) %>
                <p>Approved</p>
              <% elsif (certification.approved == false) %>
              <p>Rejected</p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Update Profile", edit_driver_path(@driver), :class => "btn btn-primary" %>
  </div>
</div>