<div class="container">
  <div class="col-sm text-center">
    <h1 class="display-4">Hello, <%= @driver.name %></h1>
    <div>Here's the information we have on file from you:</div>
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td>Name</td>
          <td><%= @driver.name %></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>E-mail Address</td>
          <td><%= @driver.email %></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>License Number</td>
          <td><%= @driver.license %></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>Date of Birth</td>
          <td><%= @driver.dob %></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td> Certifications </td>
          <td>
            <% if @driver.certification.attached? %>
              <%= image_tag @driver.certification %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td> Date of Certification</td>
          <td> <%= @driver.date %></td>
        </tr> 
      </tbody>
    </table>
    <%= link_to "Update Profile", edit_driver_path(@driver), :class => "btn btn-primary" %>
  </div>
</div>