<link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap" rel="stylesheet">
<style>
  * { 
    font-family: 'Oxygen'
  }
</style>

<% content_for :title, "Take Up Available Rides" %>

<div class="container">
  <h1 align='center'>List of Rides</h1>
  <table class="table table-sm">
    <thead>
      <script src="https://kit.fontawesome.com/7c984c7b85.js" crossorigin="anonymous"></script>
      <tr>
        <th>Rider Name</th>
        <th>Blind Accessibility</th>
        <th>Deaf</th>
        <th>Service Animal</th>
        <th>Wheelchair</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Time and Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <h2>Certifications That You Have:</h2>
      <%= @driver.get_certification_list() %>
      
      <% @riders.each do |rider| %>
        <% rider.rides.each do |ride| %>
          <% if rider.check_eligibility(ride, @driver) %>
            <% if rider.matching_ratio == 1.0 %>
              <tr bgcolor="	#43cd80">
            <% else %>
              <tr bgcolor="#ffd700">
            <% end %>
                <td><%= rider.name %></td>
                <td white-space: nowrap>
                  <% if @driver.check_cert('blind_accessibility') && rider.blind_accessibility %>
                    <span style="font-size: 3em; color: Blue;">
                      <i class="fas fa-check"></i>
                    </span>
                  <% elsif rider.blind_accessibility %>
                    <span style="font-size: 3em; color: Red;">
                      <i class="fas fa-times"></i>
                    </span>
                  <% else %>
                    <span>N/A</span>
                  <% end %>
                </td>
                <td white-space: nowrap>
                  <% if @driver.check_cert('deaf') && rider.deaf %>
                    <span style="font-size: 3em; color: Blue;">
                      <i class="fas fa-check"></i>
                    </span>
                  <% elsif rider.deaf %>
                    <span style="font-size: 3em; color: Red;">
                      <i class="fas fa-times"></i>
                    </span>
                  <% else %>
                    <span>N/A</span>
                  <% end %>
                </td>
                <td white-space: nowrap>
                  <% if @driver.check_cert('service_animal') && rider.service_animal %>
                    <span style="font-size: 3em; color: Blue;">
                      <i class="fas fa-check"></i>
                    </span>
                  <% elsif rider.service_animal %>
                    <span style="font-size: 3em; color: Red;">
                      <i class="fas fa-times"></i>
                    </span>
                  <% else %>
                    <span>N/A</span>
                  <% end %>
                </td>
                <td white-space: nowrap>
                  <% if @driver.check_cert('wheelchair') && rider.wheelchair %>
                    <span style="font-size: 3em; color: Blue;">
                      <i class="fas fa-check"></i>
                    </span>
                  <% elsif rider.wheelchair %>
                    <span style="font-size: 3em; color: Red;">
                      <i class="fas fa-times"></i>
                    </span>
                  <% else %>
                    <span>N/A</span>
                  <% end %>
                </td>
                <td><%= ride.origin %></td>
                <td><%= ride.destination %></td>
                <td><%= ride.formatted_date %></td>
                <td>
                  <%= link_to 'Accept this ride', accept_rider_ride_path(rider, ride), :class => "btn btn-primary" %>
                </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>    
    </tbody>
   
  
  </table>
</div>
